org.apache.stanbol.entityhub.site.id="XplorYardSite"
org.apache.stanbol.entityhub.site.name="THE xplor Yard Site"
org.apache.stanbol.entityhub.site.description="optional description"
org.apache.stanbol.entityhub.site.yardId="xplorclerezzayard"
org.apache.stanbol.entityhub.site.fieldMappings=["skos:prefLabel > rdfs:label","skos:altLabel > rdfs:label","foaf:name > rdfs:label","dc:title > rdfs:label","dc-elements:title > rdfs:label","schema:name > rdfs:label","skos:definition > rdfs:label"]