org.apache.stanbol.entityhub.yard.id="xplorclerezzayard"
org.apache.stanbol.entityhub.yard.name="Xplor Yard"
org.apache.stanbol.entityhub.yard.description="A description"
org.apache.stanbol.entityhub.yard.clerezza.graphuri="xplor"
org.apache.stanbol.entityhub.yard.defaultQueryResultNumber="-1"
org.apache.stanbol.entityhub.yard.maxQueryResultNumber="-1"