<div class="row col-sm-12 col-md-12 col-lg-12">
      <div class="col-sm-6 col-md-6 col-lg-6" style="position:fixed;width:49%">
          <leaflet  id="map" paths="paths"  center="center" markers="markers" event-broadcast="events" height="700px" defaults="defaults"></leaflet>


          <img src="imagesCommun/bt_left.png" width="48px" height="48px" ng-if="firstStepId != step.id" ng-click="previous()" class="boutonLeft boutonSwitchStep">
          
          <img src="imagesCommun/bt_right.png" width="48px" height="48px" ng-if="lastStepId != step.id" ng-click="next()" class="boutonRight boutonSwitchStep">
          <img src="imagesCommun/logo.png" width="48px" height="32px" style="position:absolute;left:85%;top:10px;">

          <button ng-hide="true" class="btn-xs zoom" style="background:#b4babf;color:#FFF;position:absolute;left:92%;top:560px;padding:2px 6px;"><img src="imagesCommun/bt_focus.png" width="12px" height="12px"></button>

          <p>

          <button class="btn btn-default boutonBottom" type="button" ng-click="initialiser()">Vue d'ensemble</button>
          <!--<<a class="btn btn-default boutonBottom" href="#" role="button"><span class="glyphicon ">vue d'ensemble</span></a>-->
        </p>
      </div>


      <div class="col-sm-6 col-md-6 col-lg-6 pull-right shadowHome" id="content" style="width:49%; background-color:#FFF;">
        <div class="row" style="background-color:white;margin-left:10px;">
          <ul class="nav nav-pills nav-justified">
            <li role="presentation" class="active"><a href="#/vuemixte/{{step.id}}">vue mixte</a></li>
            <li role="presentation"><a href="#/map/{{step.id}}">vue carte</a></li>
            <li role="presentation"><a href="#/etape/{{step.id}}">vue étape</a></li>
        </ul>
        </div>


      <div class="row" ng-hide="true">
          <p class="text-justify"><div ng-bind-html="step.description"></div></p>
          <button class="btn btn-default"  ng-click="isCollapsed = !isCollapsed">en savoir plus »</button>
          <hr>
        <div collapse="isCollapsed">
          <div class="well well-md" ng-bind-html="step.learnMore"></div>

        </div>
      </div>

       <div style="margin-left:10px;background-color:white;margin-bottom:0px;">
        <div class="row row-center" style="text-align:center">
          <img style="background-color:white;z-index:1; text-align: center" height="200" width="200" ng-src="{{trustSrc(step.visual)}}" ondblclick="preventFullScreen(event);">
        </div>        
        

        <div class="row">
          <div class="col-md-11" style="margin-top:-2px;padding:10px;z-index:2;background:#efefef">
            <h3 style="padding-left:12px;background-color:#efefef;">{{step.title}}</h3>
            <div class="text-justify" style="padding-left:12px;" ng-bind-html="step.description"></div>

            <button class="btn btn-default pull-left home" ng-click="goHome()"><img class="home" src="imagesCommun/bt_home.png" width="24px" height="24px"></button>

            <button class="btn btn-default pull-right" ng-click="open()">en savoir plus »</button>

          </div>
        </div>
       
        <div class="row" ng-repeat="media in step.medias">
          <img style="background-color:white;z-index:1" ng-show="isImage('{{trustSrc(media.src)}}')" width="100%" ng-src="{{trustSrc(media.src)}}" ondblclick="preventFullScreen(event);">
          <embed width="100%" height="240px" ng-show="!isImage('{{trustSrc(media.src)}}')" ng-src="{{trustSrc(media.link)}}">
          <br>
          <div class="row" style="background-color:white;margin-left:10px;">
          <h3 style="padding-left:12px">{{media.title}}</h3>
          <div class="text-justify" style="padding-left:12px;background-color:white;" ng-bind-html="media.description"></div>
        </div>
          <hr style="color:#eee;background:white; background-image:#FFF;">
          <br>
        </div>
      </div>